<?xml version="1.0"?>
<config>
  <modules>
    <Sandbourne_BulkApi>
      <version>1.0.0.6</version>
    </Sandbourne_BulkApi>
  </modules>
  <global>
    <models>
      <bulkapi>
        <class>Sandbourne_BulkApi_Model</class>
      </bulkapi>
    </models>
    <helpers>
      <bulkapi>
        <class>Sandbourne_BulkApi_Helper</class>
      </bulkapi>
    </helpers>
  </global>
</config>
